/* 
    Created on : 23/12/2020, 12:39:14 PM
    Author     : ygonzaleza
*/

:root {
    --lightgray: #efefef;
    --blue: steelblue;
    --white: #fff;
    --black: rgba(0, 0, 0, 0.3);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.modal-title {
    color: #133E71;
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
}

.btn-group {
    text-align: center;
}

.open-modal {
    font-weight: bold;
    background: var(--blue);
    color: var(--white);
    padding: .75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.modal {
    overflow: hidden;
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal-body {
    padding: 20px 30px;
}

.modal-content {
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background: white;
}

.modal-header, .modal-footer {
    background: var(--lightgray);
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
}

.modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header .modal-close {
    font-size: 1.5rem;
}

.modal p+p {
    margin-top: 1rem;
}

.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.modal-body label {
    display: block;
}

.modal-body input, .modal-body select {
    display: block;
    width: 100%;
    height: 35px;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Modal loader */
.modal.modal--loader .modal-body {
    display: flex;
    align-items: center;
    align-content: space-between;
}

.modal.modal--loader .modal-content {
    border-radius: 15px;
}

/* Modal operation summary */
.modal.modal--operationSummary .modal__title {
    background-color: steelblue;
    color: white;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
.modal.modal--operationSummary .modal-dialog {
    max-width: 500px;
}

.modal.modal--operationSummary .modal-header {
    border: none;
}

.modal.modal--operationSummary .modal-body {
    padding: 0;
}

.modal.modal--operationSummary .modal-header,
.modal.modal--operationSummary .modal-footer {
    background: none;
    text-align: center;
}
.modal.modal--operationSummary .modal__button {
    background: steelblue;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px 15px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.modal.modal--operationSummary .modal-content {
    background-color: rgba(255,255,255,.7);
    padding: 20px 30px;
}

.modal.modal--operationSummary .modal-body > * {
    margin: 0 0 15px 0;
    font-weight: 500;
}
/* Modal successfully */